# Cloudflare API配置
CF_API_TOKEN = "your_CF_API_TOKEN_here"  # Cloudflare API Token
CF_ZONE_ID = "Your_CF_ZONE_ID_HERE"    # Cloudflare Zone ID
CF_RECORD_NAME = "YOUR_DOMAIN_HERE"  # 要更新的记录名称

# IP类型，用于指定获取IPv4还是IPv6
CF_IP_TYPE = "10"  # 支持值：4（仅更新 IPv4），6（仅更新 IPv6），10（同时更新 IPv4 和 IPv6）

# 执行间隔，单位为秒
INTERVAL = 60  # 每1分钟执行一次

# 获取IPv4地址的URL
GET_IPv4_URL = "https://4.ipw.cn"

# 获取IPv6地址的URL
GET_IPv6_URL = "https://6.ipw.cn"

# IP获取充实次数
RETRY_COUNT = 3

# Telegram配置
# 变动推送通知,1通知，0不通知
NOTIFY = 1
TG_API_URL = ""  # 自定义 Telegram API URL，如果不需要，留空
TG_TOKEN = "Your_tg_bot_token_here"
TG_CHAT_ID = "Your_tg_chat_id_here"